<section id="plan" class="w-screen max-w-full min-h-fit flex flex-col justify-center mb-20 items-center" style="background-image: url('img/dental-clinic.svg'); background-repeat: no-repeat; background-position: center; background-size: cover;">

  <div class="container flex flex-row mx-auto mb-[10vh] items-center mt-24" >
     <div class="w-1/2 p-6 h-full mx-auto my-auto mr-16">
      <h1 class="text-5xl font-bold text-left text-gray-600 mb-16">Nossos Planos</h1> 
    
    <div class="flex flex-row gap-6 text-gray-600 "><hr class="py-2"><svg class="w-64 mb-12" xmlns="http://www.w3.org/2000/svg" width="82" height="82" fill="currentColor" viewBox="0 -0 24 24" >
      <path d="M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2 2 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a10 10 0 0 0-.443.05 9.4 9.4 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a9 9 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.2 2.2 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.9.9 0 0 1-.121.416c-.165.288-.503.56-1.066.56z"/>
    </svg><p class="w-[90vw] border-l-2 pl-7 border-gray-600 text-xl text-pretty text- text-left mb-12">Encontre o plano ideal para o seu sorriso! Oferecemos uma variedade de opções personalizadas para atender a todas as suas necessidades de saúde bucal, com benefícios exclusivos e um atendimento individualizado que prioriza o seu bem-estar. Desde consultas de rotina e limpezas até procedimentos mais complexos, nossos planos oferecem cobertura abrangente para garantir a saúde e a beleza do seu sorriso.</p></div>
      <div class="flex flex-row gap-6 text-gray-600 "><hr class="py-2"><svg class="w-64 mb-12" xmlns="http://www.w3.org/2000/svg" width="82" height="82" fill="currentColor" viewBox="0 -0 24 24" >
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
        <path d="M12.331 9.5a1 1 0 0 1 0 1A5 5 0 0 1 8 13a5 5 0 0 1-4.33-2.5A1 1 0 0 1 4.535 9h6.93a1 1 0 0 1 .866.5M7 6.5c0 .828-.448 0-1 0s-1 .828-1 0S5.448 5 6 5s1 .672 1 1.5m4 0c0 .828-.448 0-1 0s-1 .828-1 0S9.448 5 10 5s1 .672 1 1.5"/>
      
      </svg><p class=" w-[90vw]  border-l-2 pl-5 border-gray-600 text-xl text-pretty text- text-left mb-12">Acreditamos que cuidar da sua saúde bucal deve ser acessível e conveniente, por isso, criamos planos flexíveis que se adaptam ao seu estilo de vida e orçamento. Com foco na prevenção e no cuidado contínuo, nossos planos proporcionam tranquilidade e a confiança de um sorriso saudável e radiante.</p></div>
        <div class="flex flex-row gap-6 text-gray-600 "><hr class="py-2"><svg class="w-64 mb-12" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 -0 24 24"> 
          <path fill-rule="evenodd" d="M8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/>
          <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
        </svg><p class=" w-[90vw]  border-l-2 pl-5 border-gray-600 text-xl text-pretty text- text-left mb-12">Seja qual for o seu perfil, temos a solução perfeita para você. Explore nossos planos e descubra como podemos ajudar você a alcançar a saúde bucal que sempre desejou.</p>
     </div>
     <a href="https://wa.me/5512345678910?text=" class="flex text-white bg-gradient-to-br from-teal-700 to-teal-900 focus:ring-4 ring-green-300 hover:bg-gradient-to-r hover:from-teal-800 hover:to-gray-900 font-semibold rounded-lg text-xl px-6 py-3 me-2 mb-2 mt-6 transition-all w-1/3 text-center items-center justify-center"><svg class="inline-block mr-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-whatsapp" viewBox="0 0 16 16">
      <path d="M13.601 2.326A7.85 7.85 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.9 7.9 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.9 7.9 0 0 0 13.6 2.326zM7.994 14.521a6.6 6.6 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.56 6.56 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592m3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.73.73 0 0 0-.529.247c-.182.198-.691.677-.691 1.654s.71 1.916.81 2.049c.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232"/>
    </svg>WhatsApp</a>
    </div>

     <div class="flex flex-col gap-4 w-1/2 h-full">

      <%- include ('../partials/cards/plancard', {info: {img: "ondemand", h2: "OnDemand", svg: "new", p: "Experimente a liberdade e a flexibilidade do Plano OnDemand, a solução ideal para quem busca cuidados odontológicos de alta qualidade sem mensalidades ou contratos. Com o OnDemand, você paga apenas pelos serviços que utiliza, com total transparência e controle sobre seus gastos. Além disso, beneficie-se da abertura de conta gratuita e da avaliação inicial sem custos, para que você possa conhecer nossos serviços e planejar seus tratamentos com tranquilidade.", list: ["Conta Gratuita: Abra sua conta sem custos e sem burocracia.", "Avaliação Gratuita: Realize uma avaliação inicial sem compromisso para planejar seus tratamentos.", "Paga Apenas pelo Uso: Sem mensalidades ou taxas escondidas, você paga somente pelos procedimentos realizados.","Agendamento Online: Agende suas consultas com facilidade e rapidez, 24 horas por dia, 7 dias por semana.", "Atendimento Prioritário: Desfrute de atendimento preferencial, reduzindo o tempo de espera.","Flexibilidade Total: Escolha os serviços que precisa, quando precisa, sem contratos longos ou taxas de cancelamento."] }}) %>

<%- include ('../partials/cards/plancard', {info: {img: "individual", h2: "Individual", p: "Desenvolvido para quem busca uma experiência odontológica personalizada, o Plano Individual oferece atendimento exclusivo e dedicado às suas necessidades específicas. Acompanhamento completo desde a avaliação inicial até o tratamento final, garantindo um sorriso saudável e confiante.", list: ["Tratamentos Personalizados: Soluções feitas sob medida para as suas necessidades individuais.", "Check-ups Regulares: Acompanhe sua saúde bucal com consultas frequentes e preventivas.", "Descontos Especiais: Tenha acesso a preços exclusivos em procedimentos adicionais.", "Profissionais Especializados: Atendimento qualificado para cada tipo de tratamento.", "Sem Compromisso Longo: Flexibilidade para gerenciar o plano de acordo com sua agenda."] }}) %>

<%- include ('../partials/cards/plancard', {info: {img: "inter", h2: "Corporativo", p: "Ofereça mais saúde e bem-estar para sua equipe com o Plano Corporativo, projetado para empresas que desejam proporcionar um benefício de saúde dental para seus colaboradores. Esse plano garante acesso a cuidados odontológicos de alta qualidade e promove um ambiente de trabalho mais saudável e produtivo.", list: ["Benefício Corporativo: Valorize seus colaboradores com um plano de saúde dental.", "Prevenção e Cuidados: Check-ups e tratamentos preventivos para garantir sorrisos saudáveis.", "Apoio para Empresas: Orientação personalizada para implementação do plano.", "Agendamento Simplificado: Sistema de marcação de consultas otimizado para empresas.", "Descontos em Tratamentos: Condições especiais para colaboradores em todos os serviços."] }}) %>

<%- include ('../partials/cards/plancard', {info: {img: "family", h2: "Familiar", p: "Cuide da saúde bucal de toda a sua família com o Plano Familiar. Pensado para atender pais, filhos e demais familiares, esse plano oferece serviços que garantem sorrisos saudáveis e protegidos em todas as idades, com flexibilidade e benefícios exclusivos.", list: ["Cobertura para Todos: Atendimento para todos os membros da família em um único plano.", "Acompanhamento Infantil: Cuidado especializado para a saúde bucal das crianças.", "Descontos Familiares: Preços especiais em procedimentos realizados para membros do mesmo plano.", "Agendamento Conjunto: Facilidade para agendar consultas em conjunto para toda a família.", "Plano Flexível: Adicione novos membros e atualize o plano de acordo com as necessidades da família."] }}) %>

<%- include ('../partials/cards/plancard', {info: {img: "duo", h2: "Duo", p: "Ideal para casais ou amigos que buscam compartilhar um plano de saúde dental, o Plano Duo oferece flexibilidade e economia ao cuidar de dois sorrisos com uma cobertura de qualidade e descontos exclusivos em tratamentos combinados.", list: ["Cobertura para Dois: Um plano que atende duas pessoas, seja casal, familiares ou amigos.", "Desconto em Pacote: Preços especiais para tratamentos combinados.", "Consultas Sincronizadas: Facilidade no agendamento de consultas conjuntas.", "Procedimentos de Bem-Estar: Inclui serviços estéticos como clareamento dental.", "Acompanhamento e Prevenção: Check-ups e monitoramento para ambos os membros."] }}) %>


     
    
  </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const modals = document.querySelectorAll('#planmodal');
    const btnModals = document.querySelectorAll('#btnModal');
    const fecharModals = document.querySelectorAll('#fecharModal');

    btnModals.forEach((btn, index) => {
      btn.addEventListener('click', () => {
        modals[index].classList.add('active');
        
    });
    });

    fecharModals.forEach((btn, index) => {
      btn.addEventListener('click', () => {
        modals[index].classList.remove('active');
      });
    });
  
    modals.forEach((modal)=>{
      modal.addEventListener('click', (e) => {
          if (e.target === modal) {
              modal.classList.remove('active');
          }
      });
    });
  
  });
</script>